
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }

  .circle {
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
    background: white
  }
  
  .overlaycontainer {
    position:relative;
  }
  
  .overlaytop {
    position: absolute;
    right: 0;
    top: 0;
  }